<%=  render(:partial => 'return_toc') if prev.to_i > level.to_i  %>

<% (level - 1).times do |previous_level| %>
<div class="print-record-border level-<%= previous_level + 1 %>">
<% end %>

  <div class="avoid-break">
    <div class="print-record-border print-record level-<%= level %>">
        <h3><a class="record-title" id="<%= record.uri %>"><%= record.display_string.html_safe %></a></h3>
	<% id = (record.direct_component_id.blank?)? '' : record.direct_component_id
	   if id.blank? && container_string.blank?
	      id = record.identifier
	   else
	      id << " #{container_string}"
          end %>
        <div class="indented">
	<% unless id.blank? %>
	  <div><span class='label'><%= t('resource._public.finding_aid.identifier') %></span> <%= id %></div>
	<% end %>
        <% record.dates.each do |date| %>
           <% next if date['_inherited'] %>
              <div><span class='label'><%= I18n.t('resource._public.finding_aid.date') %></span> <%= date['final_expression'] %></div>
        <% end %>
        <% record.extents.each do |extent| %>
            <% next if extent['_inherited'] %>
              <div><span class='label'><%= I18n.t('resource._public.physdesc') %></span> <%= extent['display'] %></div>
        <% end %>
	<% note = record.notes.dig('physdesc') %>
	<% unless note.blank? || note['is_inherited'] %>
              <div><span class='label'><%= I18n.t('resource._public.physdesc') %></span> <%== note['note_text'] %></div>
        <% end %>
	<% unless urn.blank? %>
	    <div><a href='<%= urn %>' target='frmpdf'><%= urn %></a></div>
	<% end %>

        <% record.notes.each do |note_type, note| %>
           <% if note_type != 'physdesc' && !note['is_inherited'] %>
<!-- can't use shared/single_note here, because of div issues -->
              <%= render(:partial => 'arch_obj_note', :locals => { :note => note, :note_type => note_type}) %>
            <% end %>
        <% end %>
        <% subjects = Array(record.subjects).reject {|s| s['is_inherited']} %>
           <% if !subjects.empty? %>
	    <dl>
              <dt><%= I18n.t('pdf_reports.controlled_access_headings') %></dt>
               <dd>
                 <ul>
                   <% subjects.each do |subject| %>
                    <li><%= subject['title'] %></li>
                   <% end %>
                 </ul>
               </dd>
	     </dl>
           <% end %>
        </div>
    </div>
  </div>
<% (level - 1).times do |previous_level| %>
</div>
<% end %>
