<%#  single note of an archival object is sufficiently complicated to break out %>
<% label = (note['label']? note['label'].titlecase :  I18n.t("enumerations._note_types.#{note_type}")) %>
    <div class='indent'><span class='label'><%=label %></span>
<% if note.has_key?('subnotes') %>
    <% ctr = 0 
      head = '' %>
    <% note['subnotes'].each do |subnote| %>
       <% if subnote['jsonmodel_type'] == 'note_citation' 
	      head = t('actions.cite')
          elsif subnote['_title']
              head = subnote['_title']
          end  %>
       <% unless head.blank? %>
   	<% if ctr == 0 %>
	     <span class='label'>%= head %></span>
         <% else %>
	     <h5><%= head %></h5>
	 <% end %>
       <% end %>
       <% if  subnote['_inline_label'] == "Aleph ID" %>
	   <%= t('pdf_reports.aleph') %>: <%= subnote['_text'] %>
       <% else %>
	   <span class='inline-label'><%= subnote['_inline_label'] %></span>
	   <%= subnote['_text'].gsub(/&(?!(\w+;))/, "&amp;").html_safe %>
       <% end %>
       <% ctr = ctr + 1 %>
     <% end %>
<% else %>
     <% if note_type == 'processinfo' && note['label'] ==  'Aleph ID' %>
            <%= t('pdf_reports.aleph') %>: <%= subnote['_text'] %>
     <% else %>
            <%= note['note_text'].gsub(/&(?!(\w+;))/, "&amp;").html_safe %>
     <% end %>
<% end %>
    </div>
