<% results_type = (defined?(@results_type) ? @results_type : t('search_results.results')) %>
<div class="row">
  <div class="col-sm-12">
     <%= render partial: 'shared/breadcrumbs' %>
  <% if defined?(@search_title) %>
  <h1><%= @search_title %></h1>
  <% end %>

  <% if defined?(@reset) && @reset %>
      <%= render partial: 'shared/search', locals: {:search_url => @base_search,
                                                    :title => t('archive._plural'),
                                                    :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''],
                                                                       ["#{t('search-limit')} #{t('search-limits.resources')}",'resource'],
                                                                       ["#{t('search-limit')} #{t('search-limits.digital')}",'digital_object']],
                                                    :field_options => [["#{t('search_results.filter.fullrecord')}",''],
                                                                       ["#{t('search_results.filter.title')}",'title'],
                                                                       ["#{t('search_results.filter.creators')}",'creators_text'],
                                                                       ["#{t('search_results.filter.notes')}", 'notes'],
                                                                       ["#{t('search_results.filter.identifier')}", 'four_part_id'] ],
                                                    :header_size => '1',
                                                    :show_header => true } %>
  <% else %>

  <% unless defined?(@no_statement) %>
      <div id="refineSearchPanel" class="refinesearch">
        <%= render partial: 'shared/search', locals: {:search_url => @base_search,
                                                      :title => t('archive._plural'),
                                                      :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''],
                                                                         ["#{t('search-limit')} #{t('search-limits.resources')}",'resource'],
                                                                         ["#{t('search-limit')} #{t('search-limits.digital')}",'digital_object']],
                                                      :field_options => [["#{t('search_results.filter.fullrecord')}",''],
                                                                         ["#{t('search_results.filter.title')}",'title'],
                                                                         ["#{t('search_results.filter.creators')}",'creators_text'],
                                                                         ["#{t('search_results.filter.notes')}", 'notes'],
                                                                         ["#{t('search_results.filter.identifier')}", 'identifier'] ],
                                                      :show_header => false } %>
      </div>

  <% end %>

  <% if defined?(@results) %>
  <h2 class="results_head"><%= t('search_results.results_head', {:type => results_type.upcase, :start => @results['offset_first'],
         :end => @results['offset_last'], :total => @results['total_hits'] }).html_safe  %></h2>
  <% end %>
  <% end %>
  </div>
</div>

<% if defined?(@results) %>
<div class="row">
  <div class="col-sm-9">
    <a name="main" title="<%= t('internal_links.main') %>"></a>
    <div class="sort-row">
      <div class="pagination-col">
        <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
      </div>
      <div class="sorter-col">
        <%= render partial: 'shared/sorter' %>
      </div>
    </div>
    <div class="xs-filter-row"></div>
    <div class="row search-results"><div class="col-sm-12">

    <a name="searchresults" id="searchresults"></a>

    <% @results.records.each do |result| %>
      <%= render partial: 'shared/result', locals: {:result => result, :props => (@result_props || {}).merge({:full => false})} %>
    <% end %>
    </div></div>
  <div class="row">
    <div class="col-sm-9">
      <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
    </div>
  </div>
  </div>
  <div class="col-sm-3 filter_facets" id="sidebar">
    <a name="filter" title="<%= t('internal_links.filter') %>"></a>
    <%= render partial: 'shared/facets', locals: {:no_form => true} %>
  </div>
</div>
<% end %>
<script type="text/javascript" >responsivePagination();</script>
