 <%# presenting in the list for archival objects that have digital objects associated with them %>
   <div class="recordrow" style="clear:both" data-uri="<%= result.uri %>">
     <%= render partial: 'shared/result_head', locals: {:result => result, :props => {:full => false} } %>
     <%= render partial: 'shared/context', locals: {:result => result, :props => {:no_repo => false, :no_coll => false }} %>

     <div class="recordsummary" style="clear:both">
       <% note_struct = result.note('abstract') 
	  if note_struct.blank? 
	    note_struct = result.note('scopecontent')
          end
	  if !note_struct['note_text'].blank? && note_struct['is_inherited'].blank?%>
          <div class="abstract single_note" style="display: inline-block; width: 60%;"><span class='inline-label'><%= note_struct['label'] %></span>
           <% if note_struct['note_text'].length > 500 %>
             <% truncated_note = note_struct['note_text'][0..499] %>
             <% end_index = truncated_note.rindex(' ') || 499 %>
	     <%= strip_tags(truncated_note[0..end_index - 1]) + '...' %>
           <% else %>
	     <%= note_struct['note_text'].html_safe %>
           <% end %>
          </div>
         <% end %>
	<%= render partial: 'shared/digital', locals: {:dig_objs => result['json']['atdig']} unless result['json']['atdig'].blank? %>
    
   </div>
  </div>

