<section  id="header">
<div class="row" id="logo">
  <div class="col-md-4"></div>
  <div class="col-sm-4"><a href="<%= t('brand.logo_link') %>" 
     title="<%= t('brand.logo_link_title') %>"><img alt="<%= t('brand.logo_alt') %>" src="/assets/hl_logo.svg"/></a>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row" id="pui_brand">
  <div class="col-sm-4 h1"><% unless request.original_fullpath == '/' %>
        <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>"><% end %> <%= t('brand.title') %><% unless request.original_fullpath == '/' %></a><% end %>
  </div>
  <div class="col-sm-8 nav-row"><%= render partial: 'shared/head_nav' %></div>
</div>
</section>
