  <nav class="navbar navbar-default" aria-label="top-level navigation">
    <div class="container-fluid navbar-header top-bar nav-row">
      <ul class="nav navbar-nav">
        <%# TODO: add class="active" if we're on that page %>
        <div class="dropdown">
          <a class="dropdown-toggle submenu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" tabindex="0">
            <span><%= t('actions.browse').upcase %></span>
            <i class="fa fa-caret-down fa-icon"></i>
          </a>
          <ul class="dropdown-menu">
            <% $MAIN_MENU.each do |link| %>
              <li><a class="dropdown-item" href="<%= app_prefix(link[0]) %>"><%= t(link[1]).upcase %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle submenu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" tabindex="0">
            <span><%= t('actions.request').upcase %></span>
            <i class="fa fa-caret-down fa-icon"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="https://aspacepui-qa.lib.harvard.edu/plugin/request_list">My Request List</a></li>
            <li><a href="https://aeon.hul.harvard.edu/remoteauth/aeon.dll">HOLLIS Special Request <i class="fa fa-external-link-alt fa-icon"></i></a></li>
          </ul>
        </div>
        <a href="/"><%= t('search-button.label').upcase %></a>
        <% unless AppConfig[:pui_hide][:search_tab] %>
          <li>
            <span class="sr-only"><%= I18n.t('search_tab', :target => t('archive._plural')) %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= javascript_include_tag "#{@base_url}/assets/tabbable_dropdowns.js" %>