
 <%# HARVARD: THIS IS NOW DEVIATING from THE ASPACE MASTER; use with care when upgrading!! %>
 <%# this ignores the idbadge stuff %>

 <%# any result that is going to be presented in a list %>
 <%# Pry::ColorPrinter.pp(result['json'])%>
<%
if result.level
    if result.primary_type =~ /digital_object/
      level = I18n.t("enumerations.digital_object_level.#{result.level}", :default => result.level)
      badge_label = I18n.t("digital_object._public.badge_label", :level => level)
    else
      level = result.level == 'otherlevel' ? result.other_level : result.level
      badge_label = I18n.t("enumerations.archival_record_level.#{level}", :default => level)
    end
else
    badge_label = t("#{result.primary_type}._singular")
end

     got_dig = false
  unless result['json']['instances'].blank?
     result['json']['instances'].each do |instance|
       got_dig = true unless instance['digital_object'].blank?
     end
  end
%>
 <% if !props.fetch(:full,false) %>
   <div class="recordrow" style="clear:both" data-uri="<%= result.uri %>">
     <% end %>
   <div class="record-type-badge <%= (result.primary_type.start_with?('agent') ? 'agent' : result.primary_type) %>">
    <i class="<%= icon_for_type(result.primary_type) %> fa-3x"></i>
   </div>
   <div class="recordinfo">
      <%= (props.fetch(:full,false)? '<h1>' : '<h3>').html_safe %>
      <% if !props.fetch(:full,false) %>
        <a class="record-title" href="<%= app_prefix(result.uri) %>">  <%== result.display_string %></a>
      <% else %>
        <%= result.display_string %>
      <% end %>
      <% if got_dig %><span class='dig_flag' title="<%= t('views._shared.digital_flag_title') %>"><%= t('views._shared.digital_flag') %></span><% end %>
      <%= (props.fetch(:full,false)? '</h1>' : '</h3>').html_safe %>
      <%= render partial: 'shared/context', locals: {:result => result, :props => props } %>
      <strong><%= badge_label %> <% if result.container_summary_for_badge %> &mdash; <%= result.container_summary_for_badge %><% end %></strong>
     <div class="recordsummary" style="clear:both">
       <% if !result['parent_institution_name'].blank? %>
       <div><strong><%= t('parent_inst') %>:</strong>
         <%= result['parent_institution_name'] %>
       </div>
       <% end %>

       <% note_struct = result.note('abstract') 
	  if note_struct.blank? 
	    note_struct = result.note('scopecontent')
          end
	  if !note_struct['note_text'].blank? %>
          <div class="abstract single_note"><%= note_struct['label'] %>:
           <% if note_struct['note_text'].length > 500 %>
             <% truncated_note = note_struct['note_text'][0..499] %>
             <% end_index = truncated_note.rindex(' ') || 499 %>
	     <%= strip_tags(truncated_note[0..end_index - 1]) + '...' %>
           <% else %>
	     <%= note_struct['note_text'].html_safe %>
           <% end %>
          </div>
         <% end %>
       <% unless props.fetch(:no_repo, false) %>
       <% r_uri = nil
	  r_name = nil
	  if result['json']['repository'] && result['json']['repository']['_resolved'] && (!result['json']['repository']['ref'].blank? || !result['json']['repository']['_resolved']['name'].blank?)
	    r_uri = result['json']['repository']['ref'] || ''
	    r_name = result['json']['repository']['_resolved']['name'] || ''
	  elsif result['_resolved_repository'] && result['_resolved_repository']['json']
	   r_uri =  result['_resolved_repository']['json']['uri'] || ''
            r_name = result['_resolved_repository']['json']['name'] || ''
	  end
       %>
    <% end %>
 

       <% if !props.fetch(:full,false)  && result['primary_type'] == 'repository' %>
       <div><strong><%= t('number_of', { :type => t('resource._plural') }) %></strong> <%= @counts[result.uri]['resource'] %></div>
       <% end %>

     <% if result.primary_type == 'classification' && result.classification_terms? %>
     <div class="classification-subgroups">
       <button class="btn btn-default btn-sm subgroup-toggle" aria-pressed="false">
         <i aria-hidden="true" class="fa fa-plus"></i>
         <%= t('classification._public.actions.show_subgroups') %>
       </button>
       <div class="classification-subgroups-tree largetree-container" style="display: none;"></div>
     </div>
     <% end %>
   </div>
</div>
<% if !props.fetch(:full,false) %>
   </div>
<% end %>
