<% require 'cgi' %>
<div class="search col-md-12" role="search">
  <a name="search" id="search"></a>
  <% @search = Search.new unless defined?(@search) %>
  <%= form_tag(app_prefix("#{search_url}"), method: 'get', :id => 'advanced_search') do %>
  <% (0...[1, @search.q.length].max).each do |i| %>
  <div class="row search_row col-md-10" id="search_row_<%= i %>">
    <div class="search_row_container form-inline">

      <div class="input-group search-row container" id="form-container">
        <%= label_tag("op#{i}", t('advanced_search.operator_label'), :class => 'sr-only') %>
        <%= select_tag('op[]', options_for_select(Search.get_boolean_opts, @search[:op][i]), disabled: (i == 0), :id => "op#{i}",:class=> 'form-control search_placeholder and-field' + (i == 0 ? ' hidden' : '')) %>
        <%= hidden_field_tag('op[]','', :id => 'op_') if i == 0 %>
        <%= label_tag(:"q#{i}", t('navbar.search_placeholder'),:class => 'sr-only repeats') %>
        <%= text_field_tag('q[]', CGI.unescape(@search[:q][i] || ''), placeholder:  t('navbar.search_placeholder'), :id => "q#{i}",
          :class=> 'form-control search-field search_placeholder js-search-box repeats col-xs-12') %>
        <span class="input-group-btn">
          <%= select_tag('field[]', options_for_select(field_options, @search[:field][i]), :id=> "field#{i}", :class=> 'form-control search-keyword search_placeholder repeats') %>
          <% if i == 0 %>
            <%= label_tag(:"field#{i}", t('search-field'),:class => 'sr-only repeats') %>
            <input name="commit" value="Search  " class="btn btn-primary search_placeholder inline-search-btn" id="submit_search" data-disable-with="Search" type="submit">
          <% end %>
        </span>
      </div>
    </div>
    <div class="search-filter-row form-inline">
        <div class="form-group limit-filter-col norepeat">
          <% if i == 0 %>
            <%= label_tag(:limit, t('search-limit'),:class => 'sr-only') %>
            <span class="inline-label repeats"><%= t('search-limit') %>:</span>
            <%= select_tag(:limit, options_for_select(limit_options, @search[:limit]), :class=> 'form-control search_placeholder limit-field') %>
          <% end %>
        </div>
       <div class="form-group years-filter-col search_placeholder">
        <span class="inline-label repeats"><%= t('search_results.filter.years') %>:</span>
        <%= label_tag(:"from_year#{i}", "#{t('search_results.filter.from_year')}", :class => 'sr-only repeats') %>
        <%= text_field_tag('from_year[]', @search[:from_year][i], :size => 4,:maxlength => 4, :id=>"from_year#{i}",
             :placeholder => t('search_results.filter.from'),:class=>'form-control repeats from-field ') %>
        <%= label_tag(:"to_year#{i}", "#{t('search_results.filter.to_year')}", :class=> 'sr-only repeats') %>
        <%= text_field_tag('to_year[]', @search[:to_year][i], :size => 4, :maxlength => 4, :id => "to_year#{i}",
          :class=> 'form-control repeats to-field', :placeholder => t('search_results.filter.to')) %>
        <span class="plusminus"><i aria-hidden="true" class="fa fa-plus"></i></span>
      </div>
    </div>
    <div id="mobile-submit">
    </div>
  </div>

  <% end %>

  <% end %>
</div>
<script type="text/javascript" >initialize_search();responsive_search();</script>
