<% which_id = ''
   hollis_id = ''
   if hollis_id.blank? && (note_struct['label'] || '').downcase ==  "aleph id" 
     which_id = 'aleph'
     hollis_id = note_struct['note_text']
   elsif (note_struct['label'] || '').downcase ==  "alma id"
     which_id = 'alma'
     hollis_id = note_struct['note_text']
   end %>
<%  if !note_struct['note_text'].blank? %>
    <div class="<%= type %> single_note" >
     <% unless (defined?(notitle) &&  notitle) ||  note_struct['label'] ==  "Aleph ID" ||  (note_struct['label'] || '').downcase == 'alma id'%> 
     <h4><%= note_struct['label'] %></h4>
     <% end %>
     <% if note_struct.has_key?('subnotes') %>
       <% note_struct['subnotes'].each do |subnote| %>
         <% inline = subnote['_inline_label'] || '' %>
         <div class="subnote <%= 'well' if subnote['jsonmodel_type'] == 'note_citation' %>">
           <% if subnote['jsonmodel_type'] == 'note_citation' %>
             <h5><%= t('actions.cite') %></h5>
           <% elsif subnote['_title'] %>
             <h5><%= subnote['_title'] %></h5>
           <% elsif !inline.blank? %>
	      <% if inline.downcase == "aleph id" && hollis_id.blank?
		  which_id = 'aleph'
		  hollis_id = subnote['_text'] %>
	      <% elsif inline.downcase == "alma id" 
	          which_id = 'alma'
                  hollis_id = subnote['_text'] %>
   	      <% else %>
                <span class='inline-label'><%= inline %></span>
              <% end %>
           <% end %>
	   <% unless inline.downcase ==  "aleph id" || inline.downcase == "alma id" %>
           <span class="note-content">
               <%= subnote['_text'].gsub(/&(?!(\w{2,};))/, "&amp;").html_safe %>
           </span>
	   <% end %>
         </div>
       <% end %>
     <% else %>
       <div class="note-content">
	 <% if  !(type == 'processinfo' && ((note_struct['label'] || '').downcase ==  'aleph id' || (note_struct['label'] || '').downcase == 'alma id')) %>
           <%= note_struct['note_text'].gsub(/&(?!(\w{2,};))/, "&amp;").html_safe %>
	 <% end %>
       </div>
     <% end %>
     <% if type == 'processinfo' && !which_id.blank? %>
      <% if defined?(pdf) && pdf %>
          <%= t("pdf_reports.#{which_id}") %> : <%= hollis_id %>
        <% else %>
          <%= t("enumerations.hollis_link", :idpiece => "#{which_id}/#{hollis_id}").html_safe %>
        <% end %>
     <% end %>
	  
     </div>
<% end %>
