<%  if !note_struct['note_text'].blank? %>
    <div class="<%= type %> single_note" >
     <% unless (defined?(notitle) &&  notitle) ||  note_struct['label'] ==  "Aleph ID"%> 
     <h4><%= note_struct['label'] %></h4>
     <% end %>
     <% if note_struct.has_key?('subnotes') %>
       <% note_struct['subnotes'].each do |subnote| %>
         <div class="subnote <%= 'well' if subnote['jsonmodel_type'] == 'note_citation' %>">
           <% if subnote['jsonmodel_type'] == 'note_citation' %>
             <h5><%= t('actions.cite') %></h5>
           <% elsif subnote['_title'] %>
             <h5><%= subnote['_title'] %></h5>
           <% elsif subnote['_inline_label'] %>
	      <% if  subnote['_inline_label'] == "Aleph ID" %>
	          <% if defined?(pdf) && pdf %>
		    <span class="note-content"><%= t('pdf_reports.aleph') %>: <%= subnote['_text'] %></span>
		  <% else %>
	            <span class="note-content"><%= t('enumerations.aleph_link',:id=>subnote['_text']).html_safe %></span>
		  <% end %>
	      <% else %>
                <span class='inline-label'><%= subnote['_inline_label'] %></span>
              <% end %>
           <% end %>
	   <% if  subnote['_inline_label'] !=  "Aleph ID" %>
           <span class="note-content">
               <%= subnote['_text'].html_safe %>
           </span>
	   <% end %>
         </div>
       <% end %>
     <% else %>
       <div class="note-content">
<!--  <% Pry::ColorPrinter.pp "In 'else' of single note" %> -->
	 <% if type == 'processinfo' && note_struct['label'] ==  'Aleph ID' %>
	   <% if defined?(pdf) && pdf %>
	     <%= t('pdf_reports.aleph') %>: <%= subnote['_text'] %>
	   <% else %>
	    <%= t('enumerations.aleph_link',:id=> note_struct['note_text']).html_safe %>
           <% end %>
         <% else %>
           <%= note_struct['note_text'].html_safe %>
	 <% end %>
       </div>
     <% end %>
     </div>
<% end %>
