


  <div class="col-sm-9 text-center tabbing navbar navbar-default">
    <ul class="tabbing nav nav-pills">
      <!-- WHICH = <%= which %> -->
      <!-- overview -->
      <li>
	<% if which == 'overview' %><a class='active' href='#'><%=  t('actions.collection_overview') %></a>
	<% else %><%= link_to t('actions.collection_overview'), :action => :show %>
	<% end %></li>
      <!-- organization -->
      <li <% unless @has_children %>class="disabled"<% end %>>
	<% if which == 'children' %>
	<a class='active' href='#'><%= t('actions.hierarch') %></a> 
	<% else %><a <% if @has_children %> href="<%= url_for(:action => :infinite) %>"<% end %>><%= t('actions.hierarch') %></a>
	<% end %></li>
      <!-- digital only -->
      <li <% unless @digital_count > 0 %> class="disabled"<% end %>>
      <% dig_title = t('actions.digital_only')
	 dig_title = dig_title + " (#{@digital_count})" unless @digital_count == 0
      %>
	<% if which == 'digital' %><a class='active' href= '#'><%=  dig_title %></a>
	<% else %><a <% if @digital_count > 0 %> href="<%= url_for(:action => :digital_only) %>"<% end %>> <%=  dig_title %></a>
	<% end %>
      </li>
      <!-- containers -->
      <li <% unless @has_containers %>class="disabled"<% end %>>
	<% if which == 'numeric' %><a class='active' href='#'><%= t('actions.numeric') %></a>
	<% else %><a <% if @has_containers %> href="<%= url_for(:action => :inventory) %>"<% end %>><%= t('actions.numeric') %></a> <% end %>
      </li>
    </ul>
  </div>
